.intro-text {
    text-align: center;
    margin: 2rem 0;
}

.intro-text p {
    margin: .75rem auto;
    max-width: 700px;
    font-size: 1.1rem;
    line-height: 1.6;
}

.card {
    background: var(--cream);
    padding: 1.5rem;
    border-radius: 6px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, .05);
    text-align: center;
    align-items: center;

    border: 8px solid transparent;
    border-image-source: url('/assets/images/makeup-border-light.png');
    border-image-slice: 20 fill;
    border-image-repeat: round;
}

.card-grid {
    display: grid;
    grid-template-columns: repeat(2, 260px);
    gap: 0.5rem;
    justify-content: center;
    margin: 0 auto 3rem;
}

.card h3 .small {
    font-weight: 600;
    color: var(--blue);
    font-size: 1rem;
}

.card h3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.25rem;
}

.card .small {
    font-size: .85rem;
    font-weight: 400;
    color: var(--dark-grey);
}

.card .desc {
    flex-grow: 1;
    font-size: .95rem;
    margin: 1rem 0;
}

.price-bubble {
    display: inline-block;
    background-color: #eaf4fc;
    color: var(--blue);
    border-radius: 999px;
    padding: 0.25rem 0.75rem;
    font-size: 0.9rem;
    font-weight: 600;
    margin: 0.5rem auto 1rem;
    text-align: center;
}

.card .btn {
    align-self: center;
    text-align: center;
}

.promo-block {
    background: var(--cream);
    padding: 2rem 1rem;
    max-width: var(--max-width);
    margin: 3rem auto;
    border-radius: 6px;
    text-align: center;
}

.promo-inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.promo-logo,
.promo-image {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 6px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
    object-fit: contain;
    background-color: #fff;
}

.feature-image {
    margin: 3rem auto;
    max-width: var(--max-width);
}

.feature-image img {
    width: 100%;
    height: auto;
    border-radius: 6px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, .05);
}

@media (max-width: 600px) {
    .card-grid {
        grid-template-columns: 1fr;
        padding: 0 var(--gutter);
    }

    .promo-block {
        padding: 2rem 1rem;
    }
}