    <div class="nav-overlay"></div>
    <header class="site-header">
        <div class="header-inner">
            <nav class="main-nav" aria-label="Primary">
                <ul>
                    <li><a href="/index.html">Home</a></li>
                    <li class="has-sub">
                        <a href="#treatments">Treatments</a>

                        <ul class="submenu">
                            <li><a href="/laserAdvancedSkinCare.html#laser">Laser &amp; Skin Clinic</a></li>
                            <li><a href="/microneedling.html#microneedling">Microneedling</a></li>
                            <li><a href="/bodyStim.html#bodystim">Body Stim</a></li>
                            <li><a href="/faceStim.html#facestim">Face Stim</a></li>
                            <li><a href="/facials.html#facials">Facials</a></li>
                            <li><a href="/wellnessMassage.html#wellnessMassage">Wellness &amp; Massage</a></li>
                            <li><a href="/beauty.html#beauty">Beauty &amp; Make-up</a></li>
                            <li><a href="/waxing.html#waxing">Waxing</a></li>
                            <li><a href="/maniPedi.html#maniPedi">Mani &amp; Pedi</a></li>
                        </ul>
                    </li>
                    <li><a href="/tour.html">Take a Tour</a></li>
                    <li><a href="/contact.html">Contact</a></li>
                    <li><a href="/promotions.html">News &amp; Promotions</a></li>
                    <li class="nav-voucher">
                        <a href="mailto:info@theretreatwhickham.com?subject=Gift%20Voucher%20Order" class="btn--voucher">
                            <i class="fa-solid fa-gift"></i> Order a Gift Voucher
                        </a>
                    </li>
                </ul>
            </nav>

            <a class="logo" href="/">
                <img src="/assets/images/logo.png" alt="The Retreat Whickham">
            </a>

            <a href="mailto:info@theretreatwhickham.com?subject=Gift%20Voucher%20Order"
               class="header-cta btn--voucher"
               aria-label="Order a gift voucher by email">
                <i class="fa-solid fa-gift"></i> Gift Vouchers
            </a>

            <button class="burger" type="button" aria-label="Toggle menu" aria-expanded="false">
                <span></span>
                <span></span>
                <span></span>
            </button>

        </div>
    </header>